version: '3.8'

services:
    api_gateway:
        image: nginx:alpine
        ports:
            - "80:80"
        volumes:
            - ./api_gateway/nginx.conf:/etc/nginx/nginx.conf:ro
            - ./api_gateway/logs:/var/log/nginx
        depends_on:
            - auth_service
        networks:
            - electronics_network

    redis:
        image: redis:alpine
        networks:
            - electronics_network

    auth_service:
        build:
            context: ./microservices/auth
            dockerfile: Dockerfile
        volumes:
            - ./microservices/auth:/var/www/html
            - ./microservices/auth/storage:/var/www/html/storage
            - /var/www/html/vendor
        environment:
            - APP_NAME=AuthService
            - APP_ENV=local
            - APP_DEBUG=true
            - APP_URL=http://auth-service:8000

            - DB_CONNECTION=mysql
            - DB_HOST=auth_mysql
            - DB_PORT=3306
            - DB_DATABASE=electronics
            - DB_USERNAME=root
            - DB_PASSWORD=root

            - REDIS_HOST=redis
            - REDIS_PASSWORD=null
            - REDIS_PORT=6379

            - CACHE_DRIVER=redis
        depends_on:
            - auth_mysql
            - redis
        networks:
            - electronics_network

    auth_mysql:
        image: mysql:8.4
        restart: unless-stopped
        environment:
            - MYSQL_ROOT_PASSWORD=root
            - MYSQL_DATABASE=electronics
        ports:
            - "3306:3306"
        networks:
            - electronics_network
        volumes:
            - auth_mysql_db:/var/lib/mysql

networks:
    electronics_network:
volumes:
    auth_mysql_db: